@model Tp3.Models.ViewModels.UsuarioViewModel

@{
    ViewData["Title"] = "CerrarSesion";
}

<h1>Cerrar Sesion</h1>
<h4> Desea Cerrar Secion?? </h4>
<p>
    <a asp-action="borrarVariablesSesion" asp-controller="Usuario">Si</a> |
    <a asp-action="Index" asp-controller="Usuario">No</a>
</p>

