@model Tp3.Models.ViewModels.ModificarUsuarioViewModel

@{
    ViewData["Title"] = "ModificarUsuario";
}

<h1>Modificar Datos Usuario</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ModificarUsuario">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input hidden asp-for="Id" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rol" class="control-label"></label>
                <select asp-for="Rol" class="form-control">
                    @if (Model.Rol.Equals("administrador"))
                    {
                        <option value="0" selected>Administrador</option>
                        <option value="1">Operador</option>
                    }
                    else
                    {
                        <option value="0">Administrador</option>
                        <option value="1" selected>Operador</option>
                    }
                </select>
                <span asp-validation-for="Rol" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Enviar!!" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="VistaUsuarios" asp-controller="Usuario">Lista de Usuarios</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
