@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Cadeteria El Correcaminos</h1>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@

    <form asp-action="AltaCadete" asp-controller="Cadete" method="post">
        <legend>Alta Cadete</legend>
        <label>Desea dar de alta un cadete?</label>
        <input type="submit" value="Si" />
    </form>

    <form asp-action="AltaPedido" asp-controller="Pedido" method="post">
        <legend>Generar Pedido</legend>
        <label>Desea generar un pedido?</label>
        <input type="submit" value="Si" />
    </form>
</div>
