@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Cadeteria El Correcaminos</h1>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@

   <div class="container">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <div class="login-form bg-light mt-4 p-4">
                    <form asp-action="Login" asp-controller="Usuario" method="post" class="row g-3">
                        <div class="col-12">
                            <label>Usuario</label>
                            <input type="text" name="username" class="form-control" placeholder="Nombre de Usuario" required>
                        </div>
                        <div class="col-12">
                            <label>Contraseña</label>
                            <input type="password" name="password" class="form-control" placeholder="Contraseña" required minlength="4">
                        </div>
                        <div class="col-12">
                        </div>
                        <br class="mt-4">
                        <div class="col-12">
                            <button type="submit" class="btn btn-dark float-end">Iniciar</button>
                        </div>
                    </form>                    
                    <div class="col-12">
                        <form asp-action="Create" asp-controller="Usuario" method="post" class="row g-3">
                            <legend>Aun no tienes cuenta?</legend>
                            <div class="col-12">
                                <button type="submit" class="btn btn-dark float-end">Registrarse</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
   </div>
</div>
